

/* Seleçao pelo ID */
#primeiro-paragrafo {
    background-color: #000000;
}

#segundo-paragrafo {
    background-color: rgb(0, 0, 255);
}

/* Seleçao pela Classe */


.fundo-amarelo {
    background-color: yellow;
}