body {
    background-color:#fae0e4;
    color:#001219 ;
    font-family:cursive ;
}

#titulo-principal{
    background-color:#f7cad0;
}

h2 {
    background-color: #89c2d9;
    color: black;
}

.subtitulo{
    background-color: #e2afff;
}

a {
    background-color: #468faf;
}